name: Deploy Heroku

on:
  push:
    branches: [ 'main' ]
  pull_request:
    branches: [ 'main' ]
  workflow_dispatch:

jobs:
  build:
    name: Compile
    runs-on: ubuntu:latest
    
    steps:
      - name: Git Checkout
        uses: actions/checkout@v3
      - name: Configurar JDK
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'temurin'
          cache: maven
      - name: Compile
        run: mvn -B compila --file pom.xml 
